header,nav{
    width: 100%;
    border:solid #3333FF;
    background-color:#FFFFFF;
}
header {
    height: 150px;
}
ul ,#buscar {
    float: left;
    list-style: none;
    margin: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    

}

li{
    float:left;
    /* list-style: none; */
    
    margin-left:80px;
}
ul:last-child{
    margin-left: 160px;
}
nav{
    height: 50px;
    border-top:none;
}

body{
    background-color:#FFFFFF;
    font-family: 'ABeeZee', sans-serif;
}
#contenido{
    width: 80%;
    margin: 0% auto;
    background-color: #CCCCCC;
    
}
#user{
    float: right;
    
}
#redes{
    float: right;
    image-orientation: flip;
    /* clear: right; */
   
}
#fotouser{
    margin-top: 40px;
    margin-right: 10px;
}
#titulo{
    width: 50%;
    margin-left: 50px;
    margin-top:  30px;
    color: #3333FF;
    float: left;
}
#cuenta{
    float: right;
    clear: right;
    margin-left: 20px;
    margin-right: 10px;
    
}

#buscador{
    height: 25px;
    width: 200px;
}

#login{     
    
   margin-bottom: 10px;
}
#divlogin{
    background-color: #6060d6;
    float: right;
    font-size: large;
    clear: right;
    height: 45px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: lightskyblue;
}
footer{
    background-color: white;
    width: 100%;
    height: 180px;
    /* position:fixed; */
    bottom:0;
    border: solid;
    border-color: #3333FF;
    display: flex;
}
footer>div{
    flex: 1;
}

footer table{
    margin:auto;
}

.pagosizq{
    float: right;
    padding: right;
}
.pagosdrch{
    float: left;
    padding: left;
}

#mapa table{
    margin-top:20px;
}

#pagos table{
   margin-top: 20px;
    /* position: fixed;
    float: left; */
    border: solid;
    border-color: #d9ee1e;
    background-color: #eaebb6;
    margin-left: 40px;
}

#preguntas table{
background-color: #d1d0d0;
border:solid #6e6e6e;
text-align: center;
margin-top:20px ;
}

#soporte table{
    margin-top: 10px;
    text-align: center;
}
p{
    text-decoration: overline;
    color: blue;
}
#mapa{
    text-align: center;
    color: #3333FF;
}
