header,nav{
    width: 100%;
    border:solid #3333FF;
    background-color: #FFFFFF;
}
header {
    height: 150px;
}
ul ,#buscar {
    float: left;
    list-style: none;
    margin: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

li{
    float:left;
    /* list-style: none; */
    
    margin-left:80px;
}
ul:last-child{
    margin-left: 160px;
}
nav{
    height: 50px;
    border-top:none;
}

body{
    background-color: #CCCCCC;
    font-family: 'ABeeZee', sans-serif;
}
#contenido{
    width: 80%;
    margin: 0% auto;
    background-color: #CCCCCC;
    
}
#user{
    float: right;
    
}
#redes{
    float: right;
    image-orientation: flip;
    /* clear: right; */
   
}
#fotouser{
    margin-top: 40px;
    margin-right: 10px;
}
h1{
    width: 50%;
    margin-left: 50px;
    margin-top:  30px;
    color: #3333FF;
    float: left;
}
#cuenta{
    float: right;
    clear: right;
    margin-left: 20px;
    margin-right: 10px;
    
}

#buscador{
    height: 25px;
    width: 200px;
}

#login{     
    
   margin-bottom: 10px;
}
#divlogin{
    background-color: #6060d6;
    float: right;
    font-size: large;
    clear: right;
    height: 45px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: lightskyblue;
}

section{
	background-color: white;
	margin-top:  30px;
    color: #3333FF;
	border:solid #3333FF;
	margin-left: 0%;
	width: 61%;
	margin-left: 19%;
}

#fotoppal{
width: 100%;
}

#fotosec{
width: 300px;
height: 200px;
}

#nombre{
	font-size: 20px;
	text-align: left;
	color: black;
}
#precio{
	text-align: right;
	color: red;
	font-size: 30px;
}
#titulo{
	color: black;
	font-size: 30px;
}
#titulo{
	border-bottom: solid #3333FF;
}
#descripcion,#ficha{
	color: black;
	font-size: 20px;
}
#fichatecnica{
	background-color: white;
	margin-top:  30px;
    color: #3333FF;
	border:solid #3333FF;
	width: 30%;
	margin-left: 33%;
}

#ficha{
	border-collapse: collapse;
	
}
#ficha td{
	margin: 15px;
	padding: 15px;
	border: solid #3333FF;
	border-bottom: 0;
}








footer{
    background-color: white;
    width: 100%;
    height: 180px;
    /* position:fixed; */
    bottom:0;
    border: solid;
    border-color: #3333FF;
    display: flex;
}
footer>div{
    flex: 1;
}

footer table{
    margin:auto;
}

#mapa table{
    margin-top:20px;
}

#pagos table{
   margin-top: 20px;
    /* position: fixed;
    float: left; */
    border: solid;
    border-color: #d9ee1e;
    background-color: #eaebb6;
    margin-left: 40px;
}

#preguntas table{
background-color: #d1d0d0;
border:solid #6e6e6e;
text-align: center;
margin-top:20px ;
}

#soporte table{
    margin-top: 10px;
    text-align: center;
}